* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* text-align: center; */
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: lighter;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    width: 50%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    /* margin-right: 10px; */
    color: white;
}

input::placeholder {
    color: rgb(54, 54, 54);
}

input:focus {
    outline: none;
}

button {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: salmon;
}

#output img{
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .input {
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
        width: 70%;
    }
}

@media (max-width: 330px) {
    h1 {
        font-size: 30px;
    }
    .input {
        flex-direction: column;
    }

    input {
        margin-bottom: 20px;
        width: 80%;
    }
}